<h1>新規投稿</h1>
<!-- form_with部分 -->
<!--form_withは、POSTメソッドまたはPATCHメソッドが初期設定になる。-->
<%= form_with model: @list, url:'/todolists', local:true do |f| %>
<!--form_withは、インスタンス変数(@list)を取得し、ブロック変数「f」に渡しています。-->
<!--form_withヘルパーは、Viewファイルで使用することで、簡単にフォームを生成することができるヘルパーです。form_withを使うと、HTMLのformタグを作成できます。-->
<!--form_withでは、インスタンス変数の中身によってデフォルトの行き先が決まっています。復習しましょう。-->
<!--:model  オブジェクトが新規レコードの場合は作成フォームが生成され、既存レコードの場合は更新フォームが生成される-->
<!--:url  フォームに入力されたデータを送信するURL。-->
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <%= f.submit '投稿' %>
  <!--「投稿」を押すと、投稿フォームのリクエストが/todolists、HTTPメソッドがPOSTであることが確認されます。-->
<% end %>